/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,body{
  height: 100%;
  width: 100%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #fff;
}

body{
  background-color: #15171E;
}

#AlltaskList::-webkit-scrollbar{
display: none;
}

#TaskAdminList::-webkit-scrollbar{
  display: none;
}

#signinButton{
  outline: none;
  border: none;
}

#signinButton{
  background-color: #A855F7;
  color: #fff;
  transition: 0.2s;
}
#signinButton:hover{
  background-color: #fff;
  color: #A855F7;
}
